*{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

html{
        height:100%;
}
body{
        font-family: "Open Sans", "Arial", "Helvetica", "sans-serif";
        font-weight: 300;
        line-height: 1.5;
	font-size: 18px;
	background: #16a085;
}

a{
        text-decoration:none;
}

.content{
}

.post {
	background:#ffffff;
	box-shadow: 0 0 10px;
	
}

.post-tags{
        font-size:12px;
        color: #444;
}

.content-goForm{
        margin:0 auto;
}

.content h4, .content ul, .content ol, .content h1{
        margin:0.2em 0;
}

.content .prettyprint{
        font-family:"Droid Sans Mono", "Arial Mono";
        font-weight:bold;
        font-size:14px;
}

.content a, .content a:visited{
        color:blue;
}
.content a:hover{
        color:red;
}


.post-header h1, .post-header h2, .post-header h3{
        display: inline;
        margin-right:0.5em;

}
.post-header {
	font-family:"Roboto";
        margin: 35px 0px;
	font-size:55px;
	font-weight:700;
	line-spacing:-0.02em;
}


textarea{
        resize:none;
        width:100%;
}

.footer{
        background-color: #000;
        color: white;
}



.navbar {
	border-radius:0px;
	margin-bottom:0px;
}

@media(min-width:768px) {
	.post {
	padding-right: 100px;
	padding-left: 120px;
	}
}
