*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    height:100%;
}
body{
    font-family: "Arial", "Helvetica", "sans-serif";
    font-weight: 400;
    margin:0px auto;
    background-color: #333;
    line-height: 1.5;
}

a{
    text-decoration:none;
}

.header{
    top :0px;
    height: 60px;
    background-color: #000;
    color:white;
}

.header .header-title{
    margin:0 0.3em;
    padding-left:0.3em;
    height:60px;
    letter-spacing:-3px;
    font-size: 2em;
    font-weight:bold;
}

.header a, a:visited, a:hover{
    color:white;
}

.sidebar {
    background: #eee;
}

.sidebar-box {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    height: 150px;
    background: white;
}

.post {
    margin: 5px 5px;
    margin-bottom: 20px;
    padding:0px 0px 80px;
}


.content{
    background-color:#eee;
}

.content-tags{
    font-size:12px;
    color: #444;
}

.content-goForm{
    margin:0 auto;
}

.content h4, .content ul, .content ol, .content h1{
    margin:0.2em 0;
}

.content .prettyprint{
    font-family:"Droid Sans Mono", "Arial Mono";
    font-weight:bold;
    font-size:14px;
}

.content a, .content a:visited{
    color:blue;
}
.content a:hover{
    color:red;
}


.content-header h1, .content-header h2, .content-header h3{
    display: inline;
    margin-right:0.5em;
}
.content-header {
    margin-bottom: 15px;
}


textarea{
    resize:none;
    width:100%;
}

.footer{
    background-color: #000;
    color: white;
}

@media (min-width:768px){
}

@media (min-width:1024px){
    .main .container {
        padding-right: 550px;
        overflow: hidden;
        margin-left:60px;
    }
    .content {
        float: left;
        width: 100%;
        padding: 20px;
        padding-right:0px;
        padding-left: 50px;
    }
    .sidebar {
        float: left;
        margin-right: -530px;
        width: 500px;
        padding: 20px;
        padding-left: 100px;
    }
    .content, .sidebar {
        padding-bottom: 99999px;
        margin-bottom: -99999px;
    }
    .sidebar-box {
        margin:5px 5px;
        margin-bottom: 20px;
        padding:10px;
        padding-left:0px;
    }

}



