<!doctype html>
<html>
    <meta charset='UTF-8'>
    <meta name="viewport" content="wclassth=device-wclassth,initial-scale=1">
    <head>
        <title>
            {{title}}
        </title>
        <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='normalize.css')}}"/>
        <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='prettify/hemisu-dark.css')}}"/>
        <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='style.css')}}"/>
        <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='font-awesome/css/font-awesome.css')}}"/>
        <script type='text/javascript' src="{{url_for('static', filename='prettify/prettify.js')}}"></script>
    </head>
    <body onLoad='prettyPrint()'>
        <div class='main'>
            <div class='header pure-u-1'>
                <a href="/"><div class='header-title'>reGrok</div></a>
            </div>
            <div class='container pure-g'>
                <div class='content pure-u-15-24'>
                    <div class='post'>
                        {% with messages = get_flashed_messages() %} 
                        {% if messages %}
                        <div class='message'>
                            <ul>
                                {% for m in messages %}
                                <li>{{m}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% endwith %}

                        {%block content%}
                        {%endblock content%} 
                    </div>
                </div>
                <div class="sidebar pure-u-5-24">
                    <div class="sidebar-box">
                    </div>
                    <div class="sidebar-box">
                    </div>
                </div>
            </div>
            <div class='footer'>
            </div>
        </div>
    </body>
</html>
