{% extends 'base.html' %}
{% block content %}

<div class="content-header">
<h1> Edit/Add Post  </h1><hr/>
</div>
<div class = "section">
    <form method="POST">
        Post Title: <input type="text", name="postTitle" placeholder='Post Title' value="{{postTitle}}"></input><p/>
        <textarea rows="20" cols="60" name="postContent">
{{postContent | d('Your Post Comes Here')}}
        </textarea>
        <p/>
        Tags: <input type="text", name="tags" placeholder='tags seperated by ,' value="{{tags}}"></input><p/>
        Password: <input type="password" name="password" placeholder='password'></input><p/>
        <input type="submit" value="Submit"></input>
        <input type="submit" value="Delete" formaction="/delete/{{title}}"></input>
    </form>
</div>

{% endblock content %}
