{% extends 'base.html' %}
{% block content %}
<div class="content-header">
    <h1 class="inline-heading">{{postTitle}}</h1> <span class="edit">
    {% if postCode %}
    <a href = "{{url_for('edit', post_code=postCode)}}" alt="edit this page"><span class="fa fa-pencil fa-lg"></span></a>
    {% endif %}
    {%if displayTag %}
    <div class="content-tags">
        Tags:
        {% if tagList %}
            {% for tag in tagList %}
            <a href='/tag/{{tag}}'>{{tag}}</a>
            {%endfor%}
        {% else %}
            None
        {% endif %}
    </div>
    {% endif %}
    <hr/>
</div>
    {{postContent | safe}}
{% endblock content %}
