<!doctype html>
<html>
    <meta charset='UTF-8'>
    <meta name="viewport" content="wclassth=device-wclassth,initial-scale=1">
    <head>
       <title>
            {{title}}
        </title>
        <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='prettify/hemisu-dark.css')}}"/>
        <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='style.css')}}"/>
        <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='font-awesome/css/font-awesome.css')}}"/>
        <script type='text/javascript' src="{{url_for('static', filename='prettify/prettify.js')}}"></script>
    </head>
    <body onLoad='prettyPrint()'>
        <div class='container'>

        <div class='header'>
            <a href="/"><div class='header-title'>codeBook</div></a>
        </div>
        
        <div class='content'>
            {% if error %}
                <div class='mesg'>
                    <ul>
                        {% for m in mesg %}
                            <li>{{m}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {%block content%}
            {%endblock content%}
        </div>
        
        <div class='footer'>
        </div>
        </div>
    </body>
</html>
