*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    height:100%;
}
body{
    font-family: "Droid Sans", "Arial";
    margin:0px auto;
    background-color: #2c3e50;
}

a{
    text-decoration:none;
}
.container{
    margin:0 auto;
    position:relative;
    width:100%;
}

.header{
    top :0px;
    width:100%;
    height: 60px;
    background-color: #34495e;
    color:white;
}

.header .header-title{
    margin:0 0.3em;
    padding-top:0.3em;
    padding-left:0.3em;
    height:60px;
    letter-spacing:-3px;
    font-size: 2em;
    font-weight:bold;
}

.header a, a:visited, a:hover{
    color:white;
}


.content{
    padding :1em;
    padding-bottom: 60px;
    background-color:#fbfcfc;
}

.content-tags{
    font-size:12px;
    color: #444;
    padding-left: 1em;
}

.content-goForm{
    width:320px;
    margin:0 auto;
}

.content h4, .content ul, .content ol, .content h1{
    margin:0.2em 0;
}

.content .prettyprint{
    font-family:"Droid Sans Mono", "Arial Mono";
    font-weight:bold;
    font-size:14px;
}


.content a, .content a:visited{
    color:blue;
    color:blue;
}
.content a:hover{
    color:red;
}


.content-header{
    margin:2em 0;
}

.content-header h1{
    display: inline;
    margin-right:0.5em;
}


textarea{
    resize:none;
    width:100%;
}

.footer{
    width:100%;
    background-color: #34495e;
}

@media (min-width:768px){
    .content{
        width: 750px;
        margin:0 auto;
    }
    .section{
        width:740px;
    }
    textarea{
        width:650px;
    }   
    .content .prettyprint{
        margin-right:8em;
        margin-left:3em;
    }
}

@media (min-width:1024px){
    .content{
        width:978px;
        margin:0 auto;
        padding-left: 3em;
    }

    .section{
        width:600px;
    }
}



